
<div class="p-5 text-center bg-body-tertiary rounded-3">
  <h1 class="text-body-emphasis">Title: <%= @category.title %></h1>

    <strong>Color:</strong>
    <p class="col-lg-8 mx-auto fs-5 text-muted"><%= @category.color %></p>

  <div class="d-inline-flex gap-2 mb-5">
    <%= link_to 'Back', categories_path, class:"btn btn-outline-secondary btn-lg px-4 rounded-pill"%>
    <%= link_to 'Edit', edit_category_path(@category), class:"d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"%>
  </div>

</div>