  <p class="text-lg font-semibold">Title:</p>
  <p class="leading-normal"><%= @category.title %></p>

  <p class="text-lg font-semibold">Color:</p>
  <p class="leading-normal"><%= @category.color %></p>


<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>